@{
    ViewData["Title"] = "Register";
}

<div>
    <h2>Register as:</h2>
    <ul>
        <li>
            <a asp-controller="Register" asp-action="SystemAdminRegister">System Admin</a>
        </li>
        <li>
            <a asp-controller="Register" asp-action="Index">Association Manager</a>
        </li>
        <li>
            <a asp-controller="Register" asp-action="Index">Club Representative</a>
        </li>
        <li>
            <a asp-controller="Register" asp-action="Index">Stadium Manager</a>
        </li>
        <li>
            <a asp-controller="Register" asp-action="Index">Fan</a>
        </li>
    </ul>
</div>


