@model SportsWebApp.Models.ClubRepresentative

@{
    ViewData["Title"] = "Club Representative Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="ViewClubInfo">View Club Info</a>
        </li>
        <li class="list-group-item">
            <a asp-action="ViewUpcomingMatches">View Available Matches</a>
        </li>
    </ul>
</p>
