@model SportsWebApp.Models.AssociationManager

@{
    ViewData["Title"] = "Association Manager Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">

        <li class="list-group-item">
            <a asp-action="UpcomingMatches">Upcoming Matches</a>
        </li>

        <li class="list-group-item">
            <a asp-action="OngoingMatches">Ongoing Matches</a>
        </li>

        <li class="list-group-item">
            <a asp-action="FinishedMatches">Finished Matches</a>
        </li>

    </ul>
</p>
