@model SportsWebApp.Models.SystemAdmin

@{
    ViewData["Title"] = "System Admins Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">


        <li class="list-group-item">
            <a asp-action="AddClub">Add a club</a>
        </li>

        <li class="list-group-item">
            <a asp-action="DeleteClub">Delete a club</a>
        </li>

        <li class="list-group-item">
            <a asp-action="AddStadium">Add a stadium</a>
        </li>

        <li class="list-group-item">
            <a asp-action="DeleteStadium">Delete a stadium</a>
        </li>

        <li class="list-group-item">
            <a asp-action="BlockFan">Block a fan</a>
        </li>

        <li class="list-group-item">
            <a asp-action="UnblockFan">Unblock a fan</a>
        </li>

    </ul>
</p>
