@model SportsWebApp.Models.SystemAdmin

@{
    ViewData["Title"] = "System Admins Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="AddClub">Add a club</a>
        </li>
        <li class="list-group-item">
            <a asp-action="DeleteClub">Delete a club</a>
        </li>
    </ul>
</p>
