@model SportsWebApp.Models.SystemAdmin

@{
    ViewData["Title"] = "System Admin Dashboard";
}

<div>
    <h1>System Admin Dashboard</h1>
    <hr />
    <h2>Hello, @Html.DisplayFor(model => model.Username).</h2>
</div>