@model SportsWebApp.Models.SystemAdmin

@{
    ViewData["Title"] = "System Admin Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">

        <li class="list-group-item">
            <a asp-action="Clubs">View All Clubs</a>
        </li>

        <li class="list-group-item">
            <a asp-action="AddClub">Add Club</a>
        </li>

        <li class="list-group-item">
            <a asp-action="Stadiums">View All Stadiums</a>
        </li>

        <li class="list-group-item">
            <a asp-action="AddStadium">Add Stadium</a>
        </li>

        <li class="list-group-item">
            <a asp-action="Fans">View All Fans</a>
        </li>

    </ul>
</p>
