@{
    ViewData["Title"] = "Successful Operation";
}

<h2 class="text-success">Successful Operation</h2>

<div>
    <p>@TempData["Success Message"]</p>
    <a asp-action="Index">Back to dashboard</a>
</div>