@model SportsWebApp.Models.StadiumManager

@{
    ViewData["Title"] = "Stadium Manager Dashboard";
}

<h2>Hi, @Model.Name.</h2>
<h1>Welcome to the @ViewData["Title"]!</h1>
<p>
    <ul class="list-group">
    </ul>
</p>
