@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Sports Wizard!</h1>
    <p>We built this project as part of our Databases course, you can
        find the source code at 
        <br />
        <a target="_blank" href="https://github.com/m0hossam/sports-management-system/tree/main/SportsWebApp">https://github.com/m0hossam/sports-management-system/tree/main/SportsWebApp</a>
    </p>
</div>

<div>
    <h4>
        What you can do in this web app if you're a/an:
    </h4>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    System Admin
                </th>
                <th scope="col">
                    Association Manager
                </th>
                <th scope="col">
                    Fan
                </th>
                <th scope="col">
                    Club Representative
                </th>
                <th scope="col">
                    Stadium Manager
                </th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <ul>
                        <li>View, create and delete clubs.</li>
                        <li>View, create and delete stadiums.</li>
                        <li>View fan details and block/unblock them from the system.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>View upcoming, ongoing and finished match details.</li>
                        <li>Create new matches.</li>
                        <li>Delete upcoming matches.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>View upcoming matches to attend.</li>
                        <li>Purchase tickets for available matches.</li>
                        <li>View your purchased ticket details.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>View details of the club you're representing.</li>
                        <li>View your club's upcoming home games.</li>
                        <li>View stadiums available for hosting your home games.</li>
                        <li>Send requests to host your home games to the corresponding stadium manager.</li>
                        <li>View details and status of your sent host requests.</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>View details of the stadium you're managing.</li>
                        <li>View host requests sent to your stadium.</li>
                        <li>Approve or reject host requests sent to your stadium.</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>